[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=4

[{composer.lock,.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.json5]
indent_style=space
indent_size=2

[{*.ts,*.js}]
indent_style=space
indent_size=2

[{*.es6,*.mjs}]
indent_style=space
indent_size=2

[*.js.flow]
indent_style=space
indent_size=2

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[{tsconfig.spec.json,tsconfig.app.json,tsconfig.json,tsconfig.e2e.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.cjsx,*.coffee}]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[{*.scss,*.css}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2%
